/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1a2056;
}
// .btn-radiant-pink {
//     background: linear-gradient(to right, #5719DA, #9C4A94) !important;
//     // border: 2px solid #B0767E;
//     // border-radius: 20px;
//     color: #fff;
// }
.btn {
  position: relative;
  overflow: hidden;
}
.btn {
  color: #fff;
  background: linear-gradient(to right, #5719da, #9c4a94) !important;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  &:hover {
    color: #fff;
    span:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      animation: animate1 2s linear infinite;
    }
    span:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background: #fff;
      animation: animate2 2s linear infinite;
      animation-delay: 1s;
    }
    span:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      animation: animate3 2s linear infinite;
    }
    span:nth-child(4) {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: #fff;
      animation: animate4 2s linear infinite;
      animation-delay: 1s;
    }
  }
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
