<section class="banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-md-6">
        <p class="text-white fs-1 fw-bold">
          Creative UI Designer <br />
          Sagar Khese based <br />
          in pune
        </p>
        <div class="d-flex gap-3">
          <button class="btn btn-radiant-pink">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Hire me
          </button>
          <button class="btn btn-radiant-pink">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Download Resume</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-img">
            <img src="../../assets/images/file.png" />
        </div>
        
      </div>
    </div>
  </div>
  <div class="top-left-image"></div>
  <div class="top-bottom-image"></div>
</section>
